* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
form {
  margin: 1em;
}
.name {
  margin-left: 4.9em;
}
.phone {
  margin-left: 0.55em;
}
.mail {
  margin-left: 4.55em;
}
#submit {
  margin: 1em 6em;
}
